---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8'
@import 'bootstrap_4/bootstrap-reboot'
@import 'bootstrap_4/bootstrap-grid'

// Bootstrap mixins 
// required for utilities + media queries + block grid
@import 'bootstrap_4/mixins' 
@import 'bootstrap_4/utilities'
@import 'bootstrap_4/utilities-responsive'

$screen-xs-min: 480px
$screen-xs-max: 767px  // Use this breakpoint - not xs-min
$screen-sm-min: 768px
$screen-md-min: 992px
$screen-lg-min: 1200px

@mixin font-smoothing
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@import 'block-grid'
@import 'base'