<div id="location" class="row">
    <div class="col-sm-12">
        <h3>
            Location <br>
            <small>The villa is situated on the side of Monte Acuto, near the town of Umbertide</small>
        </h3>
        <!-- google maps iframe -->
        <figure class="embed-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d92981.75446544927!2d12.3016888!3d43.2581316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe66c1d874a5e4e23!2sCasa+della+Costa!5e0!3m2!1sen!2sse!4v1465231377628" width="970" height="400" frameborder="0" style="border:0; width: 100% !important;" allowfullscreen></iframe>
        </figure>
        <!-- link to google maps -->
        <p><a href="https://www.google.se/maps/place/Casa+della+Costa/@43.2581316,12.3016888,12z/data=!4m5!3m4!1s0x0:0xe66c1d874a5e4e23!8m2!3d43.2581316!4d12.3016888">
            View on google maps &raquo;
        </a></p>
    </div>
</div>
