@import 'bootstrap_4/bootstrap-grid'

$static: '../static'
$link-color: #3399cc
$primary-color: $link-color
$secondary-color: #ccc
$header-nav-hover-color: #f3f3f3
$bg-muted-color: #dcdad8
$default-transition: background-color .12s linear

body
  // font-family: 'Source Sans Pro', sans-serif
  font-family: 'Roboto', sans-serif
  font-weight: normal
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-weight: normal
  line-height: 1.2
  margin-bottom: 1rem  // add more margin bottom

h1, h2
  font-family: 'Raleway', sans-serif

h1.splash
  font-size: 2.4rem

h2
  font-size: 1.4rem

h3
  font-size: 1.3rem

p, .p
  font-size: 1.1rem

a
  color: $link-color
  text-decoration: none
  &:hover
    color: darken($link-color, 5%)
    text-decoration: underline


// Helper classes
.bg-muted
  background-color: $bg-muted-color

.text-center
  @include text-center

.list-columns
  @include list-columns($padding: 15px 0 30px, $xs: 2, $sm: 2, $md: 2, $lg: 3)


// Hide/show for javascript
html.no-js
  .hidden-no-js
    display: none


// Blocks
.callout
  @include clearfix
  background-color: white
  border-radius: 2px 
  border: 1px solid #acacac
  margin: 60px 10px


a.btn
  display: inline-block
  padding: 8px 20px 
  margin: 10px 0 20px
  // letter-spacing: .5px
  font-weight: bold
  border-radius: 3px
  transition: $default-transition
  
  &.btn-primary
    @include font-smoothing
    color: white
    background-color: $primary-color
    border: 2px solid darken($primary-color, 2%)
    &:hover
      text-decoration: none
      background-color: darken($primary-color, 7.5%)

  &.btn-secondary
    @include font-smoothing
    color: white
    background-color: $secondary-color
    border: 2px solid darken($secondary-color, 2%)
    &:hover
      text-decoration: none
      background-color: darken($secondary-color, 7.5%)


header.site-header
  @extend .container-fluid
  .site-title
    display: inline-block
    margin-bottom: 0
    a 
      display: block
      padding: 12px 15px 16px
      &, &:hover
        color: #222
        text-decoration: none
  nav.site-nav
    float: left
    width: 100%
    ul 
      padding: 0
      margin: 0
      li 
        width: 25%
        list-style: none
        display: inline-block
        a 
          display: block 
          padding: 12px 0
          text-decoration: none
          transition: $default-transition
    @media (min-width: $screen-sm-min)
      float: right
      width: auto
      ul 
        li 
          margin-left: 4px
          width: auto
          a 
            padding: 16px 20px
            background-color: white
            &:hover
              background-color: $header-nav-hover-color


.hero-image
  min-height: 550px
  background-image: url('#{$static}/img/1200_max/IMG_2356_copy.jpg')
  background-size: cover
  background-position: center
  margin-bottom: 2em
  @media (min-width: $screen-lg-min)
    min-height: 650px


.features
  color: $text-muted
  margin-bottom: 2em
  ul
    @include text-center
    h3, p
      @include font-weight-lighter
      font-size: 95%
    i[class^="icon"]
      margin: 0 auto
    i.icon-guest

    i.icon-bedroom

    i.icon-bathroom

    i.icon-kitchen

    i.icon-pool


html.js
  .jsExpand 
    height: auto
    position: relative
    &.is-truncated
      height: 400px
      overflow-y: hidden
      a.jsExpandTrigger
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 50px
        background-color: white
        text-align: center


footer.site-footer
  @include font-smoothing
  color: #eee
  border-top: 2px solid #111111
  background-color: #2a2a2a
  margin-top: 50px 
  padding-top: 30px
  padding-bottom: 200px

  p a
    color: #eee
    text-decoration: none
    border-bottom: 1px solid #ccc
    padding-bottom: 3px

  ul.share-block
    padding: 0
    li 
      list-style: none
      a 
        width: 50px
        height: 50px
